.articleAPIShower{
    background-color: transparent;
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
    flex-direction: row;
}

.divLeft{
    width: 100%;
    position: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h2APIShower{
    color: #2962ff;
    text-shadow: 0 0 5px #4929ff, 0 0 10px #000000, 0 0 15px #000000, 0 0 20px #ffffff;
}

summary{
    cursor: pointer;
}

.detailsAPISh{
    background-color: #0d0d0d;
    margin-bottom: 8px;
    border-radius: 4px;
    padding: 16px;
    transition: all .3s ease;
    border: 1px solid #0000001a;
    width: 60%;
}

.detailsAPISh[open] {
    background-color: #000000;
    color: rgb(148, 153, 253);
    text-shadow: 0 0 5px #4929ff, 0 0 10px rgb(122, 99, 255), 0 0 15px #6d63ff, 0 0 20px #6663ff;
    border: 1px solid #0000001a;
}

.divLeft summary{
    align-self: baseline;
}

.inputButton{
    display: flex;
    gap: 3px;
    justify-content: center;
}

.sectionAPIShower{
    width: 100%;
    display: flex;
    justify-content: center;
}

.divView{
    margin-top: 13vh;
    background-color: rgba(255, 255, 255, 0.05);
    width: 30vw;
    height: 85vh;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    text-align: left;
    overflow-y: scroll;
    border-radius: 1%;
    transition: 0.4s;
    &:hover{
        box-shadow: rgb(46, 33, 232) 0px 0px 20px 3px;
        & .backgroundBands{
            filter: brightness(30%);
        }
    }
}

.backgroundBands{
    position: absolute;
    width: 30vw;
    height: 85vh;
    border-radius: 1%;
    z-index: 0;
    filter: brightness(20%);
    transition: 0.4s;
}

.data{
    margin: 0;
    display: flex;
    padding: 1rem;
    z-index: 1;
}

.fieldsetCreateBand{
    background-color: #0d0d0d;
    width: 60vw;
    height: 80vh;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(2, 10vw);
    grid-template-rows: repeat(3, 5vh);
    grid-column-gap: 15vw;
    grid-row-gap: 20vh;
    justify-items: center;
    justify-content: center;
}

.fieldsetCreateBand label{
    color: rgb(148, 153, 253);
    text-shadow: 0 0 5px rgb(73, 41, 255), 0 0 10px rgb(122, 99, 255), 0 0 15px #6d63ff, 0 0 20px #6663ff;
}

.fieldsetCreateBand legend{
    color: rgb(148, 153, 253);
    text-shadow: 0 0 5px rgb(73, 41, 255), 0 0 10px rgb(122, 99, 255), 0 0 15px #6d63ff, 0 0 20px #6663ff;
    font-size: x-large;    
}

input[type=text], input[type=date], input[type=number]{
    width: 10vw;
    height: 5vh;
}
    
.divName {
    width: max-content;
    height: 20vh;
    gap: 3px;
    margin-top: 1vh;
    padding: 0;
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-direction: column;
    grid-area: 1 / 1 / 2 / 2; 
}

.divDiscs {
    width: max-content;
    height: 22vh;
    margin-top: 1vh;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: 1 / 2 / 2 / 3; 
    gap: 3px;
}

.divDiscTags{
    display: flex;
    gap: 3px;
}

.divBandDisc {
    width: 20vw;
    display: flex;
    flex-wrap: wrap;
    column-gap: 1vh;
    overflow-y:scroll;
    & p{
        margin: 0;
        padding: 0;
        font-size: 2vh;
        color: rgb(148, 153, 253);
    }
}

::-webkit-scrollbar {
    width: 12px;
}
  
.divBandDisc p {
    width: calc(50% - 10px);
    margin-bottom: 0px;
}

.divGenres{
    gap: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: max-content;
    margin: 0;
    padding: 0;
    grid-area: 2 / 1 / 3 / 3;
}

.divGenre{
    margin: 0;
    padding: 0;
    gap: 2px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
}

.divDate {
    gap: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: max-content;
    height: max-content;
    margin-top: 7vh;
    padding: 0;
    grid-area: 3 / 1 / 4 / 2;
}

.divMembers { 
    gap: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: max-content;
    height: max-content;
    margin-top: 7vh;
    padding: 0;
    grid-area: 3 / 2 / 4 / 3; 
}

.spanErrors{
    color: rgb(132, 0, 255);
}

.btnSubmit{
    width: 12vw;
    font-size: larger;
    border: 1px solid white;
    & :hover{
        color: rgb(148, 153, 253);
    }
}

.btnClose{
    position: absolute;
    right: 21vw;
    top: 10vh;
}

